.card-items-container {
  background-color: #ffffff;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  max-height: 142px;
  overflow-y: auto;
  padding: 0;

  .filter-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 18px;

    .checkbox {
      width: 18px;
      height: 18px;
    }

    .text {
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      color: #525252;
      margin-bottom: 0;
      margin-left: 8px;
    }

    .count {
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      color: #525252;
      margin-bottom: 0;
      margin-left: 8px;
    }
  }
}
